# 2020 Rotten Tomatoes Comments Sentiment Classification

Read the original file from Kaggle:

In [213]:
import pandas as pd
import re
import numpy as np
import os
df = pd.read_csv("rotten_tomatoes_critic_reviews.csv")

In [216]:
df.sort_values(by = "review_date", ascending = False).head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
1116640,m/working_girl,Nicholas Bell,False,IONCINEMA.com,Fresh,4/5,2020-10-29,"A buoyant, emotionally gratifying underdog sto..."
1120068,m/x_the_man_with_the_x_ray_eyes,Matt Brunson,False,Film Frenzy,Fresh,3/4,2020-10-28,This nifty slice of sci-fi basically plays lik...
1078687,m/vernon_florida,Jordan M. Smith,False,IONCINEMA.com,Fresh,4/5,2020-10-28,"Vernon, Florida feels more like an endearingly..."
1058223,m/truman_show,Film Companion Staff,False,Film Companion,Fresh,NaN,2020-10-28,The ahead-of-its-time film spoke volumes about...
1024491,m/the_two_popes,Film Companion Staff,False,Film Companion,Fresh,NaN,2020-10-28,"Anthony Hopkins plays doubt-ridden, conservati..."

Select all reviews published in the year of 2020

In [217]:
rslt_df = df.loc[df['review_date'] > "2019-12-31"]
rslt_df
rslt_df.sort_values(by = "review_date", ascending = False).head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
1116640,m/working_girl,Nicholas Bell,False,IONCINEMA.com,Fresh,4/5,2020-10-29,"A buoyant, emotionally gratifying underdog sto..."
1122024,m/yes_god_yes,Sadie Bell,False,Thrillist,Fresh,NaN,2020-10-28,It's a little Heaven-sent slice of comedy.
1078687,m/vernon_florida,Jordan M. Smith,False,IONCINEMA.com,Fresh,4/5,2020-10-28,"Vernon, Florida feels more like an endearingly..."
1078144,m/venom_2018,David Hogan,False,hoganreviews.co.uk,Fresh,3/5,2020-10-28,Has some fun set-pieces and worked around the ...
1073797,m/us_2019,Dennis Harvey,False,48 Hills,Fresh,NaN,2020-10-28,Peele's eagerly awaited second feature is here...

Output to CSV file:

In [218]:
rslt_df.to_csv("2020Reviews.csv")

In [219]:
df = pd.read_csv("2020Reviews.csv")
df.head()

,Unnamed: 0,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,145,m/0814255,Sarah Knight Adamson,False,Sarah's Backstage Pass,Fresh,3/4,2020-01-13,As a former middle school teacher of gifted li...
1,146,m/0814255,Felicia Feaster,False,Charleston City Paper,Fresh,NaN,2020-01-23,The Lightning Thief is an admirable kid's fant...
2,147,m/0814255,Leigh Paatsch,False,Herald Sun (Australia),Rotten,2.5/5,2020-06-26,"OK, but only just."
3,148,m/0814255,Richard Propes,False,TheIndependentCritic.com,Rotten,2/4,2020-09-19,There's nothing resembling a spark in this fil...
4,289,m/0878835,Felicia Feaster,False,Charleston City Paper,Fresh,NaN,2020-01-22,Please Give is truly a film for our age; it's ...

In [220]:
Link_Review = df [["review_type", "review_score", "review_content"]]
Link_Review.head()

  review_type review_score                                     review_content
0       Fresh          3/4  As a former middle school teacher of gifted li...
1       Fresh          NaN  The Lightning Thief is an admirable kid's fant...
2      Rotten        2.5/5                                 OK, but only just.
3      Rotten          2/4  There's nothing resembling a spark in this fil...
4       Fresh          NaN  Please Give is truly a film for our age; it's ...

In [221]:
Link_Review["review_content"][0] # Row selection output testing

'As a former middle school teacher of gifted literature, I value all fairly well-made films for children and parents and this one is in that league.'

# I. Removal of all punctuation in the dataset using regex

In [222]:
Link_Review["review_content"] = Link_Review["review_content"].str.replace(r'[^\w\s]+', '')

<ipython-input-222-2c4d16282461>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Link_Review["review_content"] = Link_Review["review_content"].str.replace(r'[^\w\s]+', '')
<ipython-input-222-2c4d16282461>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review["review_content"] = Link_Review["review_content"].str.replace(r'[^\w\s]+', '')

In [223]:
Link_Review["review_content"][0] #Row selection output testing

'As a former middle school teacher of gifted literature I value all fairly wellmade films for children and parents and this one is in that league'

# II. Remove all numbers in comments (review_content column) (Need Justifications)

In [224]:
Link_Review["review_content"] = Link_Review["review_content"].str.replace('\d+', '')

<ipython-input-224-509870383d32>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Link_Review["review_content"] = Link_Review["review_content"].str.replace('\d+', '')
<ipython-input-224-509870383d32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review["review_content"] = Link_Review["review_content"].str.replace('\d+', '')

# III. Adjust all words in comments to lower cases

In [225]:
Link_Review["review_content"] = Link_Review["review_content"].str.lower()

<ipython-input-225-64184f94b561>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review["review_content"] = Link_Review["review_content"].str.lower()

In [227]:
Link_Review["review_content"][0] #Row selection output testing

'as a former middle school teacher of gifted literature i value all fairly wellmade films for children and parents and this one is in that league'

# IV. Remove all stopwords in the comments (Need more modifications and cleanings)

In [228]:
#NLTK Version
import tokenizer
import token
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize.toktok import ToktokTokenizer

stop1 = set(stopwords.words('english'))
# punctuation = list(string.punctuation)
tokenizer=ToktokTokenizer()
def stopword_remover1(text1):
    letters_only = re.sub("[^a-zA-Z]",  # Search for all non-letters
                          " ",          # Replace all non-letters with spaces
                          str(text1))
    
    tokens = tokenizer.tokenize(text1)
    tokens = [token.strip() for token in tokens]
    filtered_words = [token for token in tokens if token.lower() not in stop1]
    filtered_text = " ".join(filtered_words)
    return filtered_text

Link_Review["review_content"] = Link_Review["review_content"].apply(stopword_remover1)
Link_Review.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/samuelfan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
<ipython-input-228-36b0c0957e94>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review["review_content"] = Link_Review["review_content"].apply(stopword_remover1)

  review_type review_score                                     review_content
0       Fresh          3/4  former middle school teacher gifted literature...
1       Fresh          NaN             lightning thief admirable kids fantasy
2      Rotten        2.5/5                                                 ok
3      Rotten          2/4      theres nothing resembling spark film anywhere
4       Fresh          NaN  please give truly film age darkly comic stuff ...

In [229]:
#Scikit Learn Version
from nltk import ToktokTokenizer

from sklearn.feature_extraction import text
stop2 = text.ENGLISH_STOP_WORDS

tokenizer=ToktokTokenizer()
def stopword_remover2(text2):
    letters_only = re.sub("[^a-zA-Z]",  # Search for all non-letters
                          " ",          # Replace all non-letters with spaces
                          str(text2))
    
    tokens = tokenizer.tokenize(text2)
    tokens = [token.strip() for token in tokens]
    filtered_words = [token for token in tokens if token.lower() not in stop2]
    filtered_text = " ".join(filtered_words)
    return filtered_text

Link_Review["review_content"] = Link_Review["review_content"].apply(stopword_remover2)
Link_Review.head()

<ipython-input-229-65d420dc3f2c>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review["review_content"] = Link_Review["review_content"].apply(stopword_remover2)

  review_type review_score                                     review_content
0       Fresh          3/4  middle school teacher gifted literature value ...
1       Fresh          NaN             lightning thief admirable kids fantasy
2      Rotten        2.5/5                                                 ok
3      Rotten          2/4                       theres resembling spark film
4       Fresh          NaN  truly film age darkly comic stuff mistress mis...

# V. Choosing Lemmatization over Stemming (Able to generate outputs with tokenized results)

In [230]:
from nltk.corpus import wordnet # To get words in dictionary with their parts of speech
from nltk.stem import WordNetLemmatizer # lemmatizes word based on it's parts of speech
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem.porter import PorterStemmer

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatized_word(text):
    words = w_tokenizer.tokenize(text)
    lemmatized_text = " ".join([lemmatizer.lemmatize(word) for word in words])
    return lemmatized_text

Link_Review["review_content"] = Link_Review["review_content"].apply(lemmatized_word)
Link_Review.head()

#Still need justificaiton to explain why choosing lemmatization over stemming
#Explore feasibility of combining both lemmatization and stemming

<ipython-input-230-981741887fa0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review["review_content"] = Link_Review["review_content"].apply(lemmatized_word)

  review_type review_score                                     review_content
0       Fresh          3/4  middle school teacher gifted literature value ...
1       Fresh          NaN              lightning thief admirable kid fantasy
2      Rotten        2.5/5                                                 ok
3      Rotten          2/4                        there resembling spark film
4       Fresh          NaN  truly film age darkly comic stuff mistress mis...

In [16]:
#Direct tokenization from pre-lemmatized data

#import nltk
#from nltk import sent_tokenize, word_tokenize
#nltk.download('punkt')
#nltk.download('wordnet')

#Link_Review["tokenized_review_content"] = Link_Review.apply(lambda row: nltk.word_tokenize(row["review_content"]), axis=1)
#Link_Review

# VI. Transform series to list

In [231]:
type(Link_Review["review_content"]) #Determining type of the "review_content"

Series_Link_Review = Link_Review["review_content"]
Listed_Link_Review = Series_Link_Review.tolist()

type(Listed_Link_Review) #Confirmation for listed result

Listed_Link_Review

values = ','.join(map(str, Series_Link_Review))

In [18]:
#Top 200 Words Only

#from collections import Counter
#top50 = [x[0] for x in Counter(" ".join(Link_Review["review_content"]).split()).most_common(200)]
#top50

# VII. Get the 200 most frequent words

In [237]:
#Top 200 words with frequency
from sklearn.feature_extraction.text import CountVectorizer

def get_top_n_words(Listed_Link_Review, n=None):
    vec = CountVectorizer().fit(Listed_Link_Review)
    bag_of_words = vec.transform(Listed_Link_Review)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]

common_words = get_top_n_words(Listed_Link_Review, 200)
#for word, freq in common_words:
    #print(word, freq)

In [238]:
Link_Review['word_count'] = Link_Review['review_content'].str.count(' ') + 1
Link_Review.head()

<ipython-input-238-c89643d6ea5f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review['word_count'] = Link_Review['review_content'].str.count(' ') + 1

,review_type,review_score,review_content,word_count
0,Fresh,3/4,middle school teacher gifted literature value ...,12
1,Fresh,NaN,lightning thief admirable kid fantasy,5
2,Rotten,2.5/5,ok,1
3,Rotten,2/4,there resembling spark film,4
4,Fresh,NaN,truly film age darkly comic stuff mistress mis...,9

In [240]:
import math
pd.Series.mean(Link_Review['word_count']) # mean word count of each review

11.426638394613736

In [241]:
Link_Review['Sentiment'] = None
for i in range(len(Link_Review)): 
    if Link_Review['review_type'][i] == "Fresh": 
        Link_Review['Sentiment'][i] = 1
    else: 
        Link_Review['Sentiment'][i] = -1

<ipython-input-241-3d96f0f74920>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review['Sentiment'] = None
<ipython-input-241-3d96f0f74920>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review['Sentiment'][i] = 1
/Users/samuelfan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-241-3d96f0f74920>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Link_Review['Sentiment'][i] = -1

In [242]:
Link_Review.head()
# specify why choose 1 and -1 in the report
# look up explanantions online, must be a reason. Maybe 1 and -1 opposite

,review_type,review_score,review_content,word_count,Sentiment
0,Fresh,3/4,middle school teacher gifted literature value ...,12,1
1,Fresh,NaN,lightning thief admirable kid fantasy,5,1
2,Rotten,2.5/5,ok,1,-1
3,Rotten,2/4,there resembling spark film,4,-1
4,Fresh,NaN,truly film age darkly comic stuff mistress mis...,9,1

In [243]:
selected_words = pd.read_csv("Selected Sentiment Words from Top 200 Most Frequent Words.txt", sep = " ", header = None)
selected_words.columns = ["Word", "Word_Count", "Positivity"]
selected_words.head()

     Word  Word_Count  Positivity
0    like        3016        True
1    good        1952        True
2    best        1500        True
3  horror        1413       False
4     fun        1410        True

In [244]:
words_only = selected_words["Word"]
listed_words_only = list(words_only)
#Link_Review['Word_score'] = 0
#for i in range(len(listed_words_only)): 
 #   for j in range(len(Link_Review['review_content'])): 
  #      if listed_words_only[i] in Link_Review['review_content'][j]: 
   #         Link_Review['Word_score'][j] += 1
    #    else: 
     #       Link_Review['Word_score'][j] = 0

# Vectorize feature with top 65 most common words

In [245]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
cv_train = cv.fit_transform(Link_Review["review_content"])

In [246]:
list_1 = []
for i in range(len(listed_words_only)): 
    n = cv.get_feature_names().index(listed_words_only[i])
    list_1.append(n)

In [247]:
# split df - positive and negative sentiment:
positive = Link_Review[Link_Review['Sentiment'] == 1]
negative = Link_Review[Link_Review['Sentiment'] == -1]

# Save Finalized data and Load

In [248]:
finalized_reviews = Link_Review[['review_content','Sentiment']]
finalized_reviews.head()

                                      review_content Sentiment
0  middle school teacher gifted literature value ...         1
1              lightning thief admirable kid fantasy         1
2                                                 ok        -1
3                        there resembling spark film        -1
4  truly film age darkly comic stuff mistress mis...         1

In [249]:
finalized_reviews.to_csv("finalized_reviews.csv")

In [253]:
from sklearn.model_selection import train_test_split
X_data = Link_Review[['review_content']]
y_data = Link_Review['Sentiment'].values

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, 
                                                    test_size = 0.2, 
                                                    random_state=1, 
                                                    stratify = y_data)
X_train_sub, X_valid, y_train_sub, y_valid = train_test_split(X_train, y_train, 
                                                              test_size = 0.2, 
                                                              random_state=1, 
                                                              stratify = y_train)

print('X_train.shape:', X_train.shape)
print('y_train.shape:', y_train.shape)
print('X_test.shape:', X_test.shape)
print('y_test.shape:', y_test.shape)
print('Train/Valid/Test sizes:', y_train.shape[0], y_valid.shape[0], y_test.shape[0])

X_train.shape: (36596, 1)
y_train.shape: (36596,)
X_test.shape: (9150, 1)
y_test.shape: (9150,)
Train/Valid/Test sizes: 36596 7320 9150

In [254]:
# count vectorizer:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()
# vectorize X_train and X_test
train_matrix = vec.fit_transform(X_train['review_content'].values.astype('U'))
test_matrix = vec.transform(X_test['review_content'].values.astype('U'))
# vectorize X_train_sub and X_valid
# train_sub_matrix = vec.fit_transform(X_train_sub['review_content'])
# valid_matrix = vec.transform(X_valid['review_content'])

In [255]:
X_train = train_matrix
X_test = test_matrix
y_train = y_train.astype('int')
y_test = y_test.astype('int')
# X_train_sub = train_sub_matrix
# X_valid = valid_matrix
# y_train_sub = y_train_sub.astype('int')
# y_valid = y_valid.astype('int')

# print dimensions
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

# print(X_train_sub.shape)
# print(y_train_sub.shape)
# print(X_valid.shape)
# print(y_valid.shape)

(36596, 32922)
(36596,)
(9150, 32922)
(9150,)

In [256]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.model_selection import GridSearchCV

from mlxtend.classifier import StackingClassifier
from mlxtend.classifier import StackingCVClassifier

%matplotlib inline
import matplotlib.pyplot as plt